<div class="container-fluid">
	<div class="row">
		<div id="nav" class="col-sm-3 navigator">
			<form id="data-entry" action="/displayAddRowsTable" method="POST">
				<div class="form-group">
					<label for="data-type">Category:</label>
					<select name="data-type" class="form-control">
						<!-- <option value="goal">Goals</option> -->
						<option value="expense">Expenses</option>
						<option value="revenue">Revenue</option>
					</select>
				</div>
				<div class="form-group">
					<label for="nrow">How Many Rows?</label>
					<input type="text" name="nrow" maxlength="3" class="form-control" autocomplete="off">
				</div>
				<input type="submit" value="Enter Data">
			</form>
		</div>
		<div class="col-sm-8">
			<div id="loader" class="loader"></div>
			<div id="plot-window"></div>
		</div>

	</div>
</div>

<script type="text/javascript">
	var frm = $('#data-entry');

    frm.submit(function (e) {
    	console.log("Submitting form");
        e.preventDefault();
        $('#loader').show();
        $('#plot-window').hide();

        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
            	console.log("Success 1");
	    		$('#loader').hide();
	    		$("#plot-window").html(data);
	    		$('#plot-window').show();
            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
        });
    });
</script>