<div class="container-fluid">
	<div class="row">
		<div id="nav" class="col-sm-3 navigator">
			<form id="data-entry" action="/displayData" method="POST">
				<div class="form-group">
					<label for="dtype">Category:</label>
					<select name="dtype" class="form-control">
						<!--<option value="goal">Goals</option>-->
						<option value="expense">Expenses</option>
						<option value="revenue">Revenue</option>
					</select>
				</div>
				<div class="form-group">
					<label for="year">Year:</label>
					<select name="year" class="form-control">
						<option value="2018">2018</option>
					</select>
				</div>
				<input type="submit" value="View">
			</form>
		</div>
		<div class="col-sm-8">
			<div id="loader" class="loader"></div>
			<div id="plot-window" hidden="hidden">
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var frm = $('#data-entry');

    frm.submit(function (e) {
    	console.log("Submitting form");
        e.preventDefault();
		$('#plot-window').hide();
        $('#loader').show();

        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
	    		$('#plot-window').html(data);
	    		$('#loader').hide();
	    		$('#plot-window').show();
            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
        });
    });
</script>